@model GamesDB.Models.Game

@{
    ViewBag.Title = Model.Title;
}

@section styles {
	<link href="~/Content/game-info.css" rel="stylesheet" />
}

<div class="info">
	<p id="title">@Model.Title</p>
	<div class="game">
		<div>
			<img src="@Model.Picture" id="pic" />
		</div>
		<div class="gameInfo">
			<input id="game-id" type="hidden" value="@Model.Id" />
			<p>@Model.ReleaseDate.ToLongDateString()</p>
			<p>@Model.Developer.Name</p>
			<p>
				<label>Genres</label>
				<ul>
				@foreach (var g in Model.Genres)
				{
					<li>@g.Name</li>
				}
				</ul>
			</p>
			<p>
				<label>Platforms</label>
				<ul>
					@foreach (var p in Model.Platforms)
					{
						<li>@p.Name</li>
					}
				</ul>
			</p>
		</div>
		<div class="ratesection">
			<label>Average score:</label>
			<p id="score"></p>
			<input id="score-hidden" type="hidden" value="@Model.Score" />
			<br />
			<div id="user-mark">
				<label>Rate this game: </label> <br />
				<input id="mark" type="text" />
				<input id="mark-confirmation" type="button" value="Ok" />
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			refreshScore();
		});

		function refreshScore() {
			$score = $("#score");
			var value = Number.parseInt($("#score-hidden").val());
			if (value == 0) {
				$score.text("N/A");
				console.log($score.val());
			}
			else {
				$score.text(value);
				value > 5 ? $score.css("color", "green") : $score.css("color", "red");
			}
		}

		$("#mark-confirmation").click(function () {
			$mark = $("#mark").val();

			if (Number.isInteger(parseInt($mark))) {
				if ($mark => 0 && $mark <= 10) {
					$.ajax({
						url: "/api/user?gameid=" + $("#game-id").val() + "&user=" + localStorage["user"] + "&userScore=" + $mark,
						type: "PUT",
						beforeSend: function (xhr) {
							xhr.setRequestHeader("Auth", localStorage.getItem("token"));
						},
						contentType: "application/json;charset=utf-8",
						success: function (data) {
							alert("Your mark has been submitted");
							$("#user-mark").css("display", "hidden");
							$("#score-hidden").val(data);
							$("#user-mark").css("display", "none");
							refreshScore();
						},
						error: function (data) {
							alert("Something went wrong, please try again later");
							console.log(data);
						}
					});
				}
				else
					alert("Mark should be between 0 and 10");
			}
			else {
				alert("Incorrect value (number expected)");
			}
		});
	</script>
}