<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/layout.css" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="container">
			@Html.ActionLink("GamesDB", "", null, new { @id = "logo" })
			<div id="search-panel">
				<input type="text" id="search-field" placeholder="Search" />
				<button id="search-button">Go!</button>
			</div>
			
			<div id="auth">
				<div id="login">
					<a id="login-trigger" href="#">
						Log in
					</a>
					<div id="login-form">
						<div id="login-inputs">
							<input id="login-username" type="text" placeholder="Name" />
							<input id="login-password" type="Password" placeholder="Password" />
							<button id="login-button">Log in </button>
						</div>
						<a id="logout-trigger">Logout</a>
					</div>
				</div>

				<div id="signup">
					<a id="signup-trigger">
						Sign Up
					</a>
				</div>
			</div>
		</div>
	</header>

	<div id="main">
		<div id="signup-modal">
			<div id="signup-form">
				<div id="signup-inputs">
					<div id="error-block"></div>
					<input id="signup-username" type="text" placeholder="Name" /> <br />
					<input id="signup-password" type="password" placeholder="Password" /> <br />
					<input id="confirm-password" type="password" placeholder="Confirm Password" /> <br />
					<button id="signup-button">Sign Up</button>
					<a id="back">Back</a>
				</div>
			</div>
		</div>
		@RenderBody()
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	@RenderSection("styles", required: false)
	<script src="~/Scripts/auth.js"></script>
</body>
</html>
