<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/games.css" rel="stylesheet" />
</head>
<body>
	<header>
		<div class="container">
			@Html.ActionLink("GamesDB", "", null, new { @id = "logo" })
			<div id="searchPanel">
				<input type="text" id="searchField" placeholder="Search" />
				<button id="searchButton">Go!</button>
			</div>
			
			<div id="auth">
				<div id="login">
					<a class="trigger" id="loginTrigger" href="#">
						Log in
					</a>
					<div id="loginForm">
						<div id="loginInputs">
							<input id="loginUserName" type="text" placeholder="Name" />
							<input id="loginPassword" type="Password" placeholder="Password" />
							<button id="loginButton" value="Log in">Log in </button>
						</div>
					</div>
				</div>

				<div id="signup">
					<a class="trigger" id="signupTrigger" href="#">
						Sign Up
					</a>
				</div>
			</div>
		</div>
	</header>

	<div id="main">
		<div id="signupModal">
			<div id="signupForm">
				<div id="signupInputs">
					<div id="errorBlock"></div>
					<input id="signupUserName" type="text" placeholder="Name" /> <br />
					<input id="signupPassword" type="password" placeholder="Password" /> <br />
					<input id="confirmPassword" type="password" placeholder="Confirm Password" /> <br />
					<button id="signupButton">Sign Up</button>
					<a id="back">Back</a>
				</div>
			</div>
		</div>
	</div>
	@RenderBody()
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="~/Scripts/auth.js"></script>
</body>
</html>
